{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}
<section class="container">
    <div class="detail-layout">
        <div class="detail-media">
            <img src="{{ asset('images/' ~ (product.imageFilename ?? 'item.png')) }}" alt="{{ product.name }}">
        </div>
        <div class="detail-panel">
            <a class="category-pill" href="{{ path('category_show', { slug: product.category.slug }) }}">{{ product.category.name }}</a>
            <h1>{{ product.name }}</h1>
            <p>{{ product.description }}</p>
            <div class="detail-price">{{ product.price|number_format(2, '.', ' ') }} MAD</div>

            {{ form_start(form, { attr: { class: 'add-cart-form' } }) }}
                {{ form_row(form.quantity) }}
                <button class="btn btn-primary btn-lg" type="submit">Ajouter au panier</button>
            {{ form_end(form) }}
        </div>
    </div>
</section>
{% endblock %}
